*, html, body {
    margin: 0;
  }

#container_parent {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: orangered;
}

#krister {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

#bilde {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

#bilde img{
    height: 100%;
    width: auto;
}


#sporsmal {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../pics/revboble.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0.8em;
    color: white;
    border: solid black 1px;
}

#startbutton {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

#startbutton button{
    background-color: chartreuse;
    width: 30%;
    height: 50%;
    border-radius: 31.2465%;
}


#svarbutton {
    display: none;
    flex-direction: row;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#left {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 48%;
    justify-content: flex-end;
    align-items: flex-end;
}

#right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 48%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 4%;
}

#left button{
    width: 50%;
    height: 100%;
    background-color: rgb(28, 28, 73);
    color: white;
    border-radius: 50%;
}

#right button{
    width: 50%;
    height: 100%;
    background-color: rgb(65, 20, 20);
    color: white;
    border-radius: 50%;
}

#svarthree {
    display: none;
    flex-direction: row;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#tleft {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 33%;
    justify-content: flex-end;
    align-items: flex-end;
}

#tmid {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33%;
    justify-content: center;
    align-items: center;
}


#tright {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 34%;
    justify-content: flex-start;
    align-items: flex-start;
}

#tleft button{
    width: 50%;
    height: 100%;
    background-color: rgb(28, 28, 73);
    color: white;
    border-radius: 50%;
}

#tmid button{
    width: 50%;
    height: 100%;
    background-color: rgb(62, 75, 32);
    color: white;
    border-radius: 50%;
}

#tright button{
    width: 50%;
    height: 100%;
    background-color: rgb(65, 20, 20);
    color: white;
    border-radius: 50%;
}

@media screen and (max-width: 1180px){
    #bilde img{
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 700px){
    #bilde img{
        width: auto;
        height: 100%;
    }

    #krister{
        flex-direction: column-reverse;
    }

    #bilde{
        width: 100%;
        height: 50%;
    }
    #sporsmal{
        width: 100%;
        height: 50%;
        background-image: url(../pics/boble.png);
        background-size: auto 100%;
    }
}

@media screen and (max-width: 350px){
    #bilde img{
        width: 100%;
        height: auto;
    }
}